<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirmacion necesaria</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>VAS A BORRAR UN PRODUCTO!</h2>
    <span>Nombre:</span><span th:text="${producto.nombre}"></span><br/>
    <span>Descripción:</span><span th:text="${producto.descripcion}"></span><br/>
    <span>Tipo:</span><span th:text="${producto.tipo.nombre}"></span><br/>
    <span>Kcal:</span><span th:text="${producto.kcal}"></span><br/><br/>        
    
    <p>¿Que hacemos?</p>    
    <a th:href="@{/productos/borrar/{id}(id=${producto.id_producto})}">Aceptar</a>
    <a href="/productos/listar">Cancelar</a>

</div>
</body>
</html>