<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Paracasa - Productos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>   
<div align="center">
 <h2 >PARACASA - PRODUCTOS</h2>
    <table>
    <thead>
          <tr>                  
              <th scope="col">Nombre</th>    
              <th scope="col">Descripcion</th>
              <th scope="col">Tipo</th>
              <th scope="col">Kcal</th>    
              <th></th>                      
          </tr>                  
      </thead>
    	    	
	    <tr th:each="producto: ${productos}">
		    <td th:text="${producto.nombre}" />
		    <td th:text="${producto.descripcion}" />
		    <td th:text="${producto.tipo}" />
		    <td th:text="${producto.kcal}" />		    
		</tr>
		
    </table>
    <br/>
    <tr><a href="/productos/registrar">Registrar producto</a></tr>     
</div>    
</body>
</html>