<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Paracasa - Productos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>   
<div align="center">
 <h2 >PARACASA - PRODUCTOS</h2>
    <table>
    <thead>
          <tr>                  
              <th scope="col">Nombre</th>    
              <th scope="col">Descripcion</th>
              <th scope="col">Tipo</th>
              <th scope="col">Kcal</th>    
              <th></th>                      
          </tr>                  
      </thead>
    	    	
	    <tr th:each="producto: ${productos}">
		    <td th:text="${producto.nombre}"></td>
		    <td th:text="${producto.descripcion}"></td>
		    <td th:text="${producto.tipo.nombre}"></td>
		    <td th:text="${producto.kcal}" ></td>		    		    
		    <td> 
		    <a th:href="@{/productos/actualizar/{id}(id=${producto.id_producto})}">Actualizar</a>
		    <a th:href="@{/productos/confirmar/{id}(id=${producto.id_producto})}">Borrar</a> 	            
    		</td>		    		    		    		    		    
		</tr>			
    </table>
    <br/>
    <tr><a href="/productos/registrar">Registrar producto</a></tr><br/>    
    <tr><a href="/">Volver al menu principal</a></tr> 
</div>    
</body>
</html>